@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
:root {
    --header-height: 3.5rem;
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    /* 
          Change favorite color
          Default: hsl(230, 55%, 55%)
          Purple: hsl(245, 55%, 55%) - Blue: hsl(210, 55%, 55%)
          Pink: hsl(340, 55%, 55%) - Green: hsl(162, 55%, 55%)
          Orange: hsl(14, 55%, 55%)
  
          For more colors visit: https://colors.dopely.top/color-pedia
          -> Choose any color 
          -> Click on tab (Color Conversion)
          -> Copy the color mode (HSL)
    */
    --hue: 210;
    --first-color: hsl(var(--hue), 55%, 55%);
    --first-color-light: hsl(var(--hue), 55%, 65%);
    --first-color-alt: hsl(var(--hue), 50%, 50%);
    --title-color: hsl(var(--hue), 30%, 95%);
    --text-color: hsl(var(--hue), 20%, 80%);
    --text-color-light: hsl(var(--hue), 20%, 70%);
    --body-color: hsl(var(--hue), 40%, 16%);
    --container-color: hsl(var(--hue), 40%, 20%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Syne", sans-serif;
    --biggest-font-size: 3rem;
    --big-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
  
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  
  /*========== Responsive typography==========*/
  @media screen and (min-width: 1150px) {
    :root {
      --biggest-font-size: 5.5rem;
      --big-font-size: 2.75rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1.125rem;
      --small-font-size: .875rem;
    }
  }
  
  /*=============== BASE ===============*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body,
  input,
  textarea,
  button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
  }
  
  body {
    background-color: var(--body-color);
    color: var(--text-color);
  }
  
  input,
  button,
  textarea {
    border: none;
    outline: none;
  }
  
  h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }
  
  p {
    line-height: 130%;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  /*=============== REUSABLE CSS CLASSES ===============*/
  .container {
    max-width: 1120px;
    margin-inline: 1.5rem;
  }
  
  .grid {
    display: grid;
    gap: 1.5rem;
  }
  
  .section {
    padding-block: 5rem 2rem;
  }
  
  .section_title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 2rem;
  }
  
  .main {
    overflow: hidden;
  }
/*///////// header and nav //////////*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
    
}
.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_logo{
    color: var(--title-color);
    font-weight: var(--font-bold);
}
.nav_toggle,
.nav_close{
    font-size: 1.5rem;
    color: var(--title-color);
    cursor: pointer;
}

/* media scrren for mobile */
@media screen and (max-width:1150px){
    .nav_menu{
        position: fixed;
        top: 0;
        right: 0;
        background-color: hsla(var(--hue),70%,4%,.2);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        width: 80%;
        height: 100%;
        padding: 7rem 3rem;
        transition: right .4s;
        display: none;

    }
}
.nav_list{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}
.nav_link{
    position: relative;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}
.nav_link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--first-color-light);
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    transition: width .3s;
}
.nav_link:hover{
    color: var(--first-color-light);
}
.nav_link:hover::after{
    width: 30%;
}
.nav_close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* show menu */
.show-menu{
    display: block;
}
/* add bluer header */
.blur-header::after{
    content: '';
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: hsla(var(--hue),70%,40%,.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    top: 0;
    left: 0;
    z-index: -1;

}
/* Active Link */
.active-link{
    color: var(--first-color-light);
}
.active-link::after{
    width: 30%;
}

/*///////////////home///////// */
.home_container{
    row-gap: 2rem ;
    padding-top: 1rem;
}
.home_img{
    width: 240px;
    justify-self: center;
    mask-image: linear-gradient(to bottom,
                hsla(var(--hue),40%,30%)60%,
                transparent 100%);
}
.home_name{
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    word-break: break-word;
    margin-top: 1rem;
    
}
.home_profession{
    position: relative;
    font-size: var(--big-font-size);
    color: var(--text-color);
}

.home_profession::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -.9rem;
    width: 25%;
    height: 3px;
    background-color: var(--text-color);
}
.home_scroll{
    color: var(--title-color);
    display: inline-flex;
    column-gap: .5rem;
    align-items: center;
    justify-self: center;
    margin-top: 3rem;
}
.home_scroll-box{
    background-color: var(--first-color);
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    font-size: 1.8rem;
    overflow: hidden;
}
.home_scroll-text{
    font-weight: var(--font-semi-bold);
}
.home_scroll-box i{
    animation: scroll-down 2s infinite;
}
 /* animate scroll icon */
 @keyframes scroll-down{
    0%{
        transform: translateY(-1rem);
        opacity: 0;
    }
    50%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(.6rem);
        opacity: 0;
    }
 }
 /*///////////////button///////// */
 .button{
    display: inline-flex;
    justify-content: center;
    background-color: var(--first-color);
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
    padding: 1.25rem 2rem;
    transition: background-color .4s;
    border-radius: 3rem;
 }
 .button:hover{
    background-color: var(--first-color-alt);
 }
/*///////////////works///////// */
.work{
    background-color: var(--container-color);
}
.work_card{
    background-color: var(--first-color);
}
.work_link{
    display: block;
    position: relative;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 1.5rem  1.5rem ;
    color: var(--text-color);
    transition: transform .4s;
    height: 33rem;

}
.work_title{
    font-size: var(--h3-font-size);
    margin-bottom: .75rem;
}
.work_description{
    margin-bottom: 1.5rem;
}
.work_link i{
    position: absolute;
    top: 1.8rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--first-color-light);
    transition: transform .4s;
}
.work_link:hover{
    transform: translateY(-.6rem);
}
.work_link:hover i{
    transform: translatex(-.9rem);
}
.specil_img{
     width: 400px;
     height: 300px;

}

/*///////////////information///////// */
.info_container{
    row-gap: info_container;
}
.info_title{
    position: relative;
    font-size: var(--small-font-size);
    color: var(--text-color);
    margin-bottom: 2rem;

}
.info_title::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    width: 20px;
    height: 2px;
    background-color: var(--text-color);
}

/* about */
.about{
row-gap: 3rem;
}
.about_description{
    margin-bottom: 2rem;
}
.about_description b{
    color: var(--first-color-light);
}

.about_img{
    width: 250px;
    justify-self: center;
    mask-image: linear-gradient(to bottom,
                                hsla(var(--hue),40%,16%)60%,
                                transparent 100%);
}
.about_button{
width: 100%;
}
/* EXPERINCE */
.experince_contant{
    row-gap: 2rem;
}
.experince_data{
    row-gap: 1rem;
}
.experince_company{
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
}
.experince_profession{
    font-size: var(--h3-font-size);
    margin-bottom: 0.25rem;
}
.experince_date{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: 0.75rem;
}

/* Skills */
.skills_img{
    width: 35px;
    margin-bottom:.5rem ;
}
.skills_name{
    font-size: var(--small-font-size);
}
.skills_content{
    grid-template-columns: repeat(3,max-content);
    justify-content: center;
    align-items: center;
    
    
}
.skills_box{
    display: grid;
    place-items: center;
    transition: transform .4s;
}
.skills_box:hover{
    transform: translateY(-.25rem);
}

/* ////////Swiber Activites////////// */
.slider{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: 2rem;
    padding: 2rem;
    margin-bottom: 2rem;
}
.card-list .card-item{
    color: white;
    background-color: rgba(255,255,255,0.2);
    user-select: none;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(30px);

}
.card-list .card-item .activity-img{
    width: 780px;
    height:340px;
    border-radius: 8px;
    margin-bottom: 40px;
    border: 3px solid #fff;
    padding: 5px;
    object-fit: fill;
}
.card-list .card-item .activity-description{
    font-size: 1.15rem;
    color: #e3e3e3;
    font-weight: 500;
    margin: 12px 0 40px;

}
.slider-wrapper{
    overflow: hidden;
    max-width: 1200px;
    margin: 11px 70px 55px;
}
.slider-wrapper .swiper-pagination-bullet{
    background: white;
    height: 15px;
    width: 15px;
}
.swiper-slider-button{
    color: white;
    margin-top:-50px}
    .swiper-slide image{
        width: 10px;

    }
    
/* Educations */
.educations{
    background-color: var(--container-color);
}
.educations_container{
    row-gap: 2rem;
}
.educations_icon{
    display: block;
    color: var(--first-color-light);
    font-size: 2rem;
    margin-bottom: 1rem;
}
.educations_title{
    font-size: var(--h3-font-size);
    margin-bottom: .75rem;
}
/* ////////////CONTACT/////////// */
.contact_container{
    row-gap: 4rem;
}
.contact_group,
.contact_form{
    gap: 1rem;
}
.contact_form{
    position: relative;
}
.contact_input{
    padding: 1.25rem;
    background-color: var(--container-color);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
.contact_input::placeholder{
    color: var(--text-color-light);
}
.contact_area{
    height: 10rem;
    resize: none;
}
.contact_button{
    margin-top: 1rem;
    cursor: pointer;
}
.contact_social{
    grid-template-columns: repeat(2,max-content);
    justify-content: center;
    column-gap: 3rem;
}
.contact_social-link{
    color: var(--title-color);
    display: inline-flex;
    column-gap: .25rem;
    align-items: center;
    transition: color .4s;
}
.contact_social-link i{
    font-size: 2rem;
}
.contact_social-link span{
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
}
.contact_social-link:hover{
    color: var(--first-color-light);
}
.contact_message{
    position: absolute;
    left: 0;
    bottom: -2rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}
/* /////////footer/////////////// */
.footer{
    background-color: var(--container-color);

}
.footer_container{
    padding-block: 3rem 2rem ;
    row-gap: 3rem;
}
.footer_links{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}
.footer_link{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}
.footer_link:hover{
    color: var(--first-color-light);
}
.footer_copy{
    color: var(--title-color);
    font-size: var(--small-font-size);
    text-align: center;
}

/* ///////////////SCROOL BAR/////////////// */
::-webkit-scrollbar{
    width: 1rem;
    background-color: hsl(var(--hue), 20%, 20%);
}
::-webkit-scrollbar-thumb{
    background-color: hsl(var(--hue), 20%, 30%);
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(var(--hue), 20%, 50%);
}
/* ///////////SCROLL UP//////////////// */
.scrollup{
    position: fixed;
    right: 1rem;
    /* bottom: 3rem; */
    bottom: -50%;
    background-color: var(--container-color);
    display: inline-flex;
    padding: 6px;
    color: var(--title-color);
    font-size: 1.25rem;
    box-shadow: 0 4px 12px hsl(var(--hue), 30%, 8%,.3);
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s ;
    /* display: none; */
    
}
.scrollup:hover{
    transform: translateY(-.5rem);
}

/* /////////show scroll up////////////// */
.show-scroll{
    bottom: 3rem;
    /* display: block; */
}

/* ==============BREAKPOINTS=============== */

/* FOR SMALL DEVICE */
@media screen and (max-width: 300px){
    .container{
        margin-inline:1rem ;
    }
    .skills_content{
        grid-template-columns: repeat(2,max-content);
    }
    .card-list .card-item .activity-img {
        width: 726px;
        height: 250px;
        border-radius: 8px;
        margin-bottom: 40px;
        border: 1px solid #fff;
        padding: 1px;
        object-fit: fill;
    }

}
/* FOR MEDIUM DEVICE */
@media screen and (min-width: 540px) {
    .home_container,
    .work_container,
    .info_container,
    .educations_container,
    .contact_container{
        grid-template-columns: 350px;
        justify-content: center;
    }
}
@media screen and (min-width: 768px) {
    .nav_menu{
        width: 50%;
    }
    .home_container{
        grid-template-columns: repeat(2,350px);
    }
    .home_data{
        align-self: flex-end;
        padding-bottom: 3rem;
        order:-1;
    }
    .home_scroll{
        grid-column: 1/3;
    }
    .work_container{
        grid-template-columns: repeat(2,350px);
    }
    .info_container{
        grid-template-columns: initial;
    }
    .about{
        grid-template-columns: repeat(2,350px);
    }
    .about_contant{
        order: 1;
    }
    .experince_date{
        grid-template-columns: repeat(2,1fr);
    }
    .skills_content{
        grid-template-columns: repeat(5,max-content);
        justify-content: center;
        column-gap: 6rem;
    }
    .educations_container{
        grid-template-columns: repeat(5,320px);
    }

}
/* FOR LARGE DEVICE */
@media screen and (min-width:1150px){
    .container{
        margin-inline: auto;
    }    
    .section{
        padding-block: 7rem 5rem ;
    }
    .section_title{
        margin-bottom: 4rem;
    }
    .nav{
        height: calc(var(--header-height) + 2rem);
    }
    .nav_toggle,
    .nav_close{
        display: none;
    }
    .nav_menu{
        width: initial;
    }
    .nav_list{
        flex-direction: row;
        column-gap: 4rem;
    }
    .home_container{
        grid-template-columns: 375px 350px;
        gap: 3rem 16rem;
    }
    .home_img{
        width: 350px;
    }
    .home_data{
        width: 638px;  
        margin-left:-30px ;
    }
    .home_name{
        margin-bottom: 1.5rem;
        font-size: var(--biggest-font-size);
    }
    .home_profession::after{
        bottom: -1rem;
        width: 35%;
    }

    .work_container{
        grid-template-columns: repeat(2,540px);
        gap: 2.5rem;
    }
    .work_link{
        padding: 3rem 3rem 2rem;
    }
    .work_title{
        font-size: var(--h2-font-size);
        margin-bottom: 1rem;
    }
    .work_link i{
        font-size: 2rem;
    }
    .info_container{
        row-gap: 4rem;
    }
    .info_title{
        font-size: var(--normal-font-size);
        margin-bottom: 3.5rem;
    }
    .about{
        grid-template-columns: 320px 420px;
        column-gap: 11.5rem;
    }
    .about_img{
        width: 320px;
    }
    .about_description{
        margin-bottom: 3rem;
    }
    .about_button{
        width: initial;
    }
    .experince_contant{
        row-gap: 4rem;
    }
    .experince_data{
        grid-template-columns: 320px 380px;
        column-gap: 11.5rem;
    }
    .experince_company{
        font-size: var(--h1-font-size);
    }
    .experince_profession{
        margin-bottom: .5rem;
    }
    .experince_date{
        font-size: var(--normal-font-size);
        margin-bottom: 1.5rem;
    }
    .skills_content{
        grid-template-columns: repeat(9,max-content);
    }
    
    .educations_container{
        grid-template-columns: repeat(2,350px);
        gap: 6rem 13rem;
    }
    .educations_icon{
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }
    .contact_container{
        grid-template-columns: 580px;
    }
    .contact_group{
        grid-template-columns: repeat(2,1fr);
    }
    .contact_area{
        height: 15rem;
    }
    .contact_button{
        width: max-content;
        justify-self: center;
        margin-top: 1.5rem;
    }
    .contact_message{
        bottom: 4.5rem;
    }
    .contact_social{
        grid-template-columns: repeat(4,max-content);
        column-gap: 5rem;
    }
    .footer_container{
        padding-block: 3rem;
        grid-template-columns: repeat(2,max-content);
        justify-content: space-between;
    }
    .footer_links{
        column-gap: 4rem;
        order: 1;
    }
    .scrollup{
        right: 3rem;
    }









}
